<p>Arvio 70% rokotekattavuuden saavuttamisesta edellisen 7 ja 14 päivän rokotustahdin perusteella. Ensimmäisen annoksen saaneet lasketaan. Lähde: <a href="https://sampo.thl.fi/pivot/prod/fi/vaccreg/cov19cov/fact_cov19cov#">THL</a> (CC BY 4.0)</p>