<p>Uppskattning av när 70% vaccinering uppnås, baserat på föregående 7 och 14 dagars vaccineringstakt. Vaccinerade = de som har fått första dosen. Källa: <a href="https://sampo.thl.fi/pivot/prod/fi/vaccreg/cov19cov/fact_cov19cov#">Institutet för hälsa och välfärd</a> (CC BY 4.0)</p>
