<p>Estimation of when 70% vaccinated will be reached, based on the average vaccination rate over the past 7 and 14 days. Vaccinated people = those who have received the first dose. Source: <a href="https://sampo.thl.fi/pivot/prod/fi/vaccreg/cov19cov/fact_cov19cov#">THL</a> (CC BY 4.0)</p>