<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Suomen COVID-19 -rokotustiedot</title>
        <style type="text/css">
table {
    border: 1px solid darkgray;
    border-collapse: collapse;
}
td, th {
    padding: 0.5em;
    border: 1px solid darkgray;
}
        </style>
    </head>
    <body>
        <a href="fi">fi</a> <a href="sv">sv</a> <a href="en">en</a>
        {% block content %}{% endblock %}
        <p><a href="https://gitlab.com/vurpo/rokoteseuraaja">GitLab</a></p>
    </body>
</html>