{% extends "layout.html" %}
{% block content %}
{% include "header_" + lang + ".html" %}
<p>
  <table>
    {% include "tableheader_" + lang + ".html" %}
    <tbody>
      {% for alue, data in alueet.items() %}
      <tr class="table-row">
        <td>{{aluenimet[alue]}}</td>
        <td>{{data['tahti7'] | round(2)}}</td>
        {% if data['arvioitu7'] != None %}
          <td>{{ data['arvioitu7'] }}</td>
        {% else -%}
          <td> - </td>
        {% endif %}
        <td>{{data['tahti14'] | round(2)}}</td>
        {% if data['arvioitu14'] != None %}
          <td>{{ data['arvioitu14'] }}</td>
        {% else -%}
          <td> - </td>
        {% endif %}
        {% if data['osuus'] != None %}
          <td>{{ (data['osuus']*100) | round(2)}} %</td>
        {% else -%}
          <td> - </td>
        {% endif %}
        <td>{{ data['määrä'] }}</td>
        {% if data['väkiluku'] != None %}
          <td>{{ data['väkiluku'] }}</td>
        {% else -%}
          <td> - </td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</p>
{% include "updated_" + lang + ".html" %}
{% endblock %}