<thead>
    <tr>
        <th scope="col">Area</th>
        <th scope="col">Vaccination/day (7 days)</th>
        <th scope="col">Estimated 70% (7 days)</th>
        <th scope="col">Vaccination/day (14 days)</th>
        <th scope="col">Estimated 70% (14 days)</th>
        <th scope="col">% vaccinated</th>
        <th scope="col"># vaccinated</th>
        <th scope="col">Population</th>
    </tr>
</thead>