<thead>
    <tr>
        <th scope="col">Alue</th>
        <th scope="col">Rokotustahti/pv (7 pv)</th>
        <th scope="col">Arvioitu 70% (7 pv)</th>
        <th scope="col">Rokotustahti/pv (14 pv)</th>
        <th scope="col">Arvioitu 70% (14 pv)</th>
        <th scope="col">Rokotettujen osuus</th>
        <th scope="col">Rokotettujen määrä</th>
        <th scope="col">Väkiluku</th>
    </tr>
</thead>