<thead>
    <tr>
        <th scope="col">Område</th>
        <th scope="col">Vaccinering/dag (7 dagar)</th>
        <th scope="col">Uppskattad 70% (7 dagar)</th>
        <th scope="col">Vaccinering/dag (14 dagar)</th>
        <th scope="col">Uppskattad 70% (14 dagar)</th>
        <th scope="col">% vaccinerade</th>
        <th scope="col">Antal vaccinerade</th>
        <th scope="col">Befolkning</th>
    </tr>
</thead>